body {
  /*CORPO*/
  background-color: #0c1727e1; /*#98ceff*/ /*5e7e9b*/ /*486179*/ /*#384b5e*/ /*#0c1727e1*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 19px;
  font-family: Avenir-Roman, sans-serif;
  line-height: 1.17;
  color: rgb(255, 255, 255);
}

* {
  /*TUDO*/
  box-sizing: border-box;
}

h3 {
  /*SUBTITULO*/
  font-family: Avenir-Heavy, sans-serif;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0px;
  margin-top: 100px;
  padding: 0px 0px 24px;
}
h1 {
  /*TITULO*/
  font-size: 40px;
  text-align: center;
  font-family: Avenir-Black, sans-serif;
  margin-top: 2.5em;
  letter-spacing: 5px;
}

section {
  /*CONTAINER*/
  max-width: 374px;
  margin: 32px auto;
  overflow: visible;
  width: 100%;
  z-index: 1;
  display: block;
}

input {
  /*ESTILIZACAO TODOS INPUT*/
  font-family: Avenir-Light, sans-serif;
  font-size: 18px;
  color: rgb(249, 249, 249);
  background-color: #99ceff23; /*BBFFFF */
  border-radius: 6px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1.5px;
  border: 1px solid transparent;
  outline: none;
  height: 35px;
}

#insert {
  /*ESTILIZACAO BOTAO INSERIR*/
  margin-left: 17em;
  margin-bottom: 7px;
}

#num {
  /*ESTILIZACAO CAMPO NUM*/
  position: absolute;
}

#res {
  /*ESTILIZACAO RESULTADO*/
  font-family: Avenir-Light, sans-serif;
  font-size: 17.5px;
}

select {
  /*ESTILIZACAO SELECT*/
  font-size: 15px;
  background-color: #99ceff23;
  overflow: scroll;
  overflow-x: hidden;
  width: 92.5%;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  margin-top: 18px;
  margin-bottom: 18px;
}
::-webkit-scrollbar-track {
  /*ESTILIZACAO SCROLLBAR */
  background-color: #99ceff23;
}
::-webkit-scrollbar {
  /*ESTILIZACAO SCROLLBAR */
  width: 6px;
  background: #99ceff23;
}
::-webkit-scrollbar-thumb {
  /*ESTILIZACAO SCROLLBAR */
  background: #9dd0ff4f;
}

label {
  /*MENSAGEM DE ERRO*/
  font-family: Avenir-Light, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #ff554c;
}

#finalizar {
  /*BOTAO FINALIZAR*/
  margin-top: 7px;
}

#option {
  /*OPCOES*/
  font-family: Avenir-Light, sans-serif;
  font-size: 15px;
}

#num:focus,
#num:active {
  /*SE O CAMPO DE INSERIR NUMERO ESTIVER FOCADO/ ATIVO FAZ ISSO*/
  border: 0.1px solid rgb(249, 249, 249, 0.3);
  transition: border 0.25s ease;
}

#insert:hover {
  /*SE O MOUSE ESTIVER EM CIMA DO INSERIR FAZ ISSO*/
  background-color: #9dd0ff4f;
  transition: background 0.15s ease-in-out 0s;
}

#insert:not(:hover) {
  /* SE O MOUSE NAO ESTIVER EM CIMA DO INSERIR FAZ ISSO*/
  background-color: #99ceff23;
  transition: background 0.15s ease-in-out 0s;
}

#finalizar:hover {
  /*SE O MOUSE ESTIVER EM CIMA DO FINALIZAR FAZ ISSO*/
  background-color: #9dd0ff4f;
  transition: background 0.15s ease-in-out 0s;
}

#finalizar:not(:hover) {
  /* SE O MOUSE NAO ESTIVER EM CIMA DO FINALIZAR FAZ ISSO*/
  background-color: #99ceff23;
  transition: background 0.15s ease-in-out 0s;
}

footer {
  margin-top: 150px;
  text-align: center;
  font-family: Avenir-Light, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /*TIRA SETINHA DE COLOCARN NUMERO*/
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Heavy-05.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Heavy-05.ttf)
      format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Avenir-Black;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Black-03.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Black-03.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir-Book;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Book-01.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Book-01.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir-Light;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Light-07.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Light-07.ttf)
      format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Avenir-Medium;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Medium-09.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Medium-09.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Avenir-Roman;
  src: url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Roman-12.woff)
      format("woff"),
    url(https://prod-static.disney-plus.net/eu-west-1/builds/0dbbdb5797cc274df6952863958f9afdbaa6cf27/src/common/assets/fonts/Avenir-Roman-12.ttf)
      format("truetype");
  font-weight: 400;
}

.green {
  transition: border 0.1s; /*BORDA VERDE*/
  border: 1px solid #06d6a0;
  outline: none;
}

.red {
  transition: border 0.1s; /*BORDA VERMELGA*/
  border: 1px solid #ff554c;
  outline: none;
}

.redalert {
  /*BORDA VERMELHA SEM TRANSICAO E COM MENSAGEM DE ERRO*/
  border: 1px solid #ff554c;
  outline: none;
}

.invisible {
  /*BORDA INVISIVEL*/
  transition: border 0.1s;
  border: 1px solid transparent;
  outline: none;
}
